body {
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
    line-height: 27px;
    padding-left: 32px;
    padding-right: 32px;
}

::-moz-selection {
    color: white;
    background: black;  
}
::selection { 
    color: #fafafa;
    background: #050505;
}



body::-webkit-scrollbar {
    width: 2em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  outline: 1px solid #fafafa;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 29px;
    line-height: 39px;    
}

h3 {
    font-size: 24px;
    line-height: 33px;    
}

h4 {
    font-size: 20px;
    line-height: 28px;    
}

p {
    margin-bottom: 32px;
}

blockquote {
    color: #8C8686;
    margin-bottom: 64px;
}

.nav{
    display: inline-block;
    /*border: 1px solid red;*/
    width: 100%;
    margin-top: 8px;
}

.nav-text{
    font-size: 16px;
    display: inline-block;
}

.nav-menu{
    display: block;
    float: right;
    /*border: 1px solid red;*/
    margin-left: 32px;
    padding-top: 8px;
    margin-top: 6px;
    padding-bottom: 8px;
}

.nav-link{
    color: #8C8686;
    margin-right: 24px;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: color .3s; /* For Safari 3.0 to 6.0 */
    transition: color .3s ease-in;

}

.nav-link:hover{
    color: #050505;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 64px auto 64px;
    grid-gap: 0px;
}


/*// Small devices (landscape phones, 576px and up)*/
@media all and (max-width: 576px) {
    .header{
        grid-column: 1 / -1;
    }
    .content {
        grid-column: 1 / -1;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
  
    }    
    
    .footer {
        grid-column: 1 / -1;
         
    }
    
    .nav{

        margin-top: 0px;
    }
    
    .nav-menu{
        float: left;
        padding: 0px;
        margin: 0px;
    }
}


/*// Medium devices (tablets, 768px and up)*/
@media all and (min-width: 766px) {
    
    .header{
        grid-column: 1 / -1;
    }
    .content {
        grid-column: 3 / 9;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
    }    
    
    .footer {
        grid-column: 1 / -1;
    }    

}

/*// Large devices (desktops, 992px and up)*/
@media all and (min-width: 776px) { 
.header{
    grid-column: 2 / -1;
    background: white;
    color: black;
    margin-bottom: 32px;
}

.content {
    grid-column: 3 / 10;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer{
    grid-column: 3 / 10;
    /*background: red;*/
    color: black;
}    
    
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media all and (min-width: 1200px) { 
.header{
    grid-column: 3 / 10;
    background: white;
    color: black;
    margin-bottom: 32px;
}

.content {
    grid-column: 3 / 7;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer{
    grid-column: 3 / 10;
    /*background: red;*/
    color: black;
}    
    
}